<body style="background-color: #242424;">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header" style="margin-right: 2%">

            <a href="{{user.link}}"><img height="50" src="http://graph.facebook.com/{{user.id}}/picture?type=normal" class="img-circle" ></a>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" >
                <li role="presentation" class="active"><a href="/facebook" >Info</a></li>
                <li role="presentation"><a href="/facebook_photos" >Photos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li> <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
               </li>
            </ul>
        </div>
        </div>
</nav>

<p class="text-center" style="font-size: 200%; color: #f9f9f9"><span class="glyphicon glyphicon-thumbs-up"></span>Facebook</p>

<div class="jumbotron" style="margin-bottom: 0px;">
    <p class="text-center">Name: {{user.name}}</p>
    <p class="text-center">Birthday: {{user.birthday}}</p>
    <p class="text-center">Gender: {{user.gender}}</p>
    <p class="text-center">Email: {{user.email}}</p>
    <p class="text-center">Hometown: {{user.hometown.name}}</p>
    <p class="text-center">Location: {{user.location.name}}</p>

</div>
<h4 class="text-center" style="font-size: 150%; color: #f9f9f9">Your likes on Facebook</h4>
<div class="container">

    <div id="carousel-example-generic" class="carousel slide" style="margin-left: 35%;margin-right: 35%">
        <div class="carousel-inner" style='height: 250px'>
            {{#each likes}}
                {{#if @first}}
                    <div class="item active">
                        <div class="inner-item" style="text-align: center">
                            <img class="img-rounded" src="http://graph.facebook.com/{{id}}/picture?type=large" style="margin: 0 auto">
                            <h4 style="color: #f9f9f9">
                                {{#if caption}}
                                    {{owner_name}}: {{caption}}
                                {{else}}
                                    {{name}}
                                {{/if}}
                            </h4>
                        </div>
                    </div>
                {{else}}
                    <div class="item">
                        <div class="inner-item" style="text-align: center">
                            <img class="img-rounded" src="http://graph.facebook.com/{{id}}/picture?type=large" style="margin: 0 auto">
                            <h4 style="color: #f9f9f9">
                                {{#if caption}}
                                    {{owner_name}}: {{caption}}
                                {{else}}
                                    {{name}}
                                {{/if}}
                            </h4>
                        </div>

                    </div>
                {{/if}}
            {{/each}}
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" style="background-image: none">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" style="background-image: none">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>


</div>
</body>


